@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 30 26% 96%;
  --foreground: 210 3% 20%;
  --border: 30 10% 85%;
  --muted: 30 10% 90%;

  --primary: 337 37% 36%;
  --gold: 44 65% 47%;
  --secondary: 210 3% 36%;
  --accent: 30 10% 85%;
  --destructive: 0 84% 60%;
}

body{
  overflow-x: hidden;
}

/* ===== SCROLLBAR (Chrome, Edge, Safari) ===== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  
  background: linear-gradient(
    180deg,
    #873953,
    #C49A2A
  );
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
  border: 2px solid #0D0D0D; /* spacing effect */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #5C2438 0%,
    #873953 10%,
    #5C2438 50%
  );/* black background */
}

.swiper-button-next,
.swiper-button-prev {
  color:black !important;
  width: 25px;
  height: 25px;
  transition: 0.3s;
  background-color: white;
  padding:3px;
  border-radius: 50%;
}

.swiper-button-next{
  right:-10px;
}

.swiper-button-prev{
  left:-10px
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
  will-change: transform;
}